<h3 class="acts">Act 2</h3>

<ul>
  <li>Once in town, enter the Old Fields first</li>
  <li>Start looking out for 2x Topaz Rings</li>
  <li>Find The Den and Place Portal</li>
  <li>
    Find Crossroads and grab the WP go to town then go into your TP and enter
    The Den
  </li>
  <li>
    Kill the Great White Beast then log out and talk to yeena for QuickSilver
    Flask
  </li>
  <li>Back to Crossroads head left for The Chamber of Sins</li>
  <li>Find WP and then the WP points to the stairs for level 2</li>
  <li>Level 2 Start by going down Kill Fidelitas and logout</li>
  <li>Grab Herald of Thunder and Skitterbots</li>
  <li>Head to Riverways and grab WP</li>
  <li>
    Follow the path opposite of Riverways Waypoint until you reach Wetlands
  </li>
  <li>Make sure you're level 16 by Weaver</li>
  <li>
    Enter Western Forest and Grab WP (follow road) Alira is always on the same
    side of the road as the WP and Weaver is on the opposite side
  </li>
  <li>Next main Passive is Dark Arts to the left of Overload (right side)</li>
  <li>
    Enter Weavers Chambers if it lets you go left/up keep going left if not go
    left/down
  </li>
  <li>Kill Weaver and logout</li>
  <li>Go back to Crossroads, enter Broken Bridge</li>
  <li>Grab WP (follow road) Kill Kraityn and logout</li>
  <li>Enter The Riverways WP and head up/left to The Wetlands</li>
  <li>
    Kill Oak (usually on the left side) Grab WP then head to Western Forst WP
  </li>
  <li>Help Alira, kill Blackguards, grab sigil then logout</li>
  <li>
    Go to Act 1 and talk to bestel and sell items then buy Elemental
    Proliferation
  </li>
  <li>Get Elemental Focus and link it to Orb of Storms</li>
  <li>go to Act 2 town then go to Wetlands WP and enter The Vaal Ruins</li>
  <li>Make your way to The Northern Forest and grab WP</li>
  <li>Enter the Caverns and grab WP</li>
  <li>Try to be level 20 by time you kill Vaal Oversoul</li>
  <li>
    Make your way to the Ancient Pyramid, equip Topaz Rings and kill Vaal
    Oversoul then logout
  </li>
  <li>Enter The Crossroads WP head right to Felshrine Ruins</li>
  <li>Follow road to get to The Crypt and finish Trial and logout</li>
  <li>
    get 2x Topaz rings and trade both wands with 1 alt each and 1 rare topaz
    ring each
  </li>
</ul>
<a
  href="https://www.pathofexile.com/passive-skill-tree/3.10.0/AAAABAMAAJrgVa7YJEWdvOpqQ20ZpwjfsBEtwGYy0Y-mLJxTUgj0ahva3UVH_rN8g0SrVkgVUIIQ6-4="
  target="_blank"
  >Act 2 Passive Tree</a
>
