<h3 class="acts">Act 4</h3>

<ul>
  <li>Enter the Dried Lake, kill Voll and enter the Mines</li>
  <li>
    Free Deshret's Spirit in Mines Level 2, progress to Crystal Veins and get
    Waypoint
  </li>
  <li>
    Get Passive Skillpoint, Summon Lightning Golem and Summon Stone Golem in
    town
  </li>
  <li>Hold CTRL and put your golems into the secondary skillbar</li>
  <li>
    Complete the first Labyrinth, you can enter it through the Sarn Encampment
  </li>
  <li>
    Read up on the Lord's Labyrinth and Izaro to get an idea what's going on
  </li>
  <li>
    After finishing the Labyrinth, ascend to Elementalist and get Liege of the
    Primordial
  </li>
  <li>Go back to Crystal Veins, enter Kaom's Dream and kill Kaom</li>
  <li>Now enter Daresso's Dream and kill Daresso</li>
  <li>
    Get Spell Echo in town and replace Arcane Surge in your Arc Setup with it
  </li>
  <li>Link Arcane Surge to Flame Dash and still keep it Lv1</li>
  <li>
    Get Cast when Damage taken and link it to Steelskin, this will automate its
    casting when needed
  </li>
  <li>
    If you don't have a 4L for your Arc Setup yet, focus on this before
    continuing
  </li>
  <li>Kill Piety in Belly of the Beast, and finally Malachai in the Harvest</li>
</ul>

<a
  href="https://www.pathofexile.com/passive-skill-tree/3.10.0/AAAABAMCAJrgVa7YJBbzRZ286mpDogDcjYKbFVBtGdrdpwiu_2wL37CCEESrL50mPP6zMtGPpmHiJpUi9CycUELwH1NSCPQRLWob1abUB0VHVUsEs3yDUzVWSMBmjDbr7pMn"
  target="_blank"
  >Act 4 Passive Tree</a
>
