<h3 class="acts">Act 1</h3>

<ul>
  <li>Run pass eveything</li>
  <li>Kill Hillock (should be an easy kill)</li>
  <li>
    Buy Spark from Nessa, link it with Arcane Surge and throw away Fireball
  </li>
  <li>Look for B-B-B and type NN for runner's boots</li>
  <li>Run pass everything and grab WP</li>
  <li>In Mud Flats only Kill big Packs</li>
  <li>Grab the 3 nests in Mud Flats then move on to Submerged Passage</li>
  <li>Grab WP then head to Tidal Island</li>
  <li>Kill Hailrake</li>
  <li>Grab QuickSilver and lesser poison support</li>
  <li>
    Trade 3 small HP pots for a medium HP pot check for color links and boots
  </li>
  <li>Make sure to open a TP in Submerged Passage to go back into later on</li>
  <li>Try not to be Level 4 in Submerged Passage</li>
  <li>The Climb only kill decent Packs and help Navali</li>
  <li>
    Lower Prison grab WP and go back to town and go into your Submerged Passage
    TP
  </li>
  <li>
    Go into Submerged TP and enter The Flooded Depths (usually to the left)
  </li>
  <li>Kill Dweler of the Deep and logout</li>
  <li>Get Orb of Storms, Frostblink and Passive Skillpoint in town</li>
  <li>
    Set Orb of Storms to "attack without moving" (left-click icon in skillbar)
  </li>
  <li>
    Get Added Lightning Damage in town and link it to Spark + Arcane Surge
  </li>
  <li>Trade Spectral throw and iron ring for Topaz Ring</li>
  <li>
    Craft two wands with this recipe: Magic-rarity Wand + Topaz Ring + Orb of
    Alteration
  </li>
  <li>If needed, the recipe for Topaz Rings is Iron Ring + Green Skill Gem</li>
  <li>Start looking out for 2x Sapphire Rings</li>
  <li>
    If needed, the recipe for Sapphire Rings is Iron Ring + Blue Skill Gem
  </li>
  <li>Grab Lightning Walker in the Passive tree then to Elemental Overload</li>
  <li>Complete Trial of Ascendancy in Lower Prison</li>
  <li>
    Kill Brutus, then logout and get Clarity (keep it Lv5) and Flame Dash in
    town
  </li>
  <li>
    Replace Frostblink with Flame Dash and set it to "attack without moving"
  </li>
  <li>Progress to Ship Graveyard and get the Waypoint</li>
  <li>
    Look for Ship Graveyard Cave, get Allflame then get Cavern of Wrath Waypoint
  </li>
  <li>Travel to Ship Graveyard Waypoint and kill Fairgraves</li>
  <li>Go to town to get Passive Skillpoint and Arc</li>
  <li>Replace Spark with Arc and set it to "attack without moving"</li>
  <li>Equip Sapphire Rings and kill Merveil</li>
</ul>
<a
  href="https://www.pathofexile.com/passive-skill-tree/3.10.0/AAAABAMAAJrgVa4snOvuRZ1TUrzqakNqG0SrbRn-s3yD37AI9IIQj6YRLQ=="
  target="_blank"
  >Act 1 Passive Tree</a
>
<p class="main-note">Grab Lightning Walker instead of Arcane Will</p>
