<h3 class="acts">Act 5</h3>

<ul>
  <li>Kill Overseer Krow and enter town</li>
  <li>Find the Miasmeter in Control Blocks and kill Justicar Casticus</li>
  <li>Get Silver Flask and Skillpoint in town</li>
  <li>
    Replace a Life Flask with Silver Flask and try to roll of Staunching on it
  </li>
  <li>If you find a Basalt Flask from here on, keep it, we need it later</li>
  <li>
    Make your way to Templar Courts, kill Avarius and get any unique jewel in
    town
  </li>
  <li>Get Ruined Square Waypoint and optionally kill Utula</li>
  <li>Finish the quest in Reliquary and get Skillpoint in town</li>
  <li>Look for the Sign of Purity in Ossuary</li>
  <li>Kill Kitava on Cathedral Rooftop</li>
  <li>You will suffer a permanent -30% resistance penalty after this fight</li>
</ul>

<a
  href="https://www.pathofexile.com/passive-skill-tree/3.10.0/AAAABAMCAB0UvOpqQ6IApwgvnRcvwGaApI-mIvQsnFBC8B_VpgSzfINWSIw2muBVrhVQ2CQW80Wd3I2Cm67_37AmPP6zMtGPRlXWYeLr7lVLCPRk51NS1AdqG-NqES1FRxZv-tImlVM1bAtEq4IQbRna3ZMn"
  target="_blank"
  >Act 5 Passive Tree</a
>
