<h3 class="acts">Act 9</h3>

<ul>
  <li>
    Find the Storm Blade in Vastiri Desert and speak to Petarus & Vanja in town
  </li>
  <li>Look for a blocked entrance in Vastiri Desert</li>
  <li>Go to town, talk to Sin and then to Petarus & Vanja</li>
  <li>Kill Shakari and get Skillpoint in town</li>
  <li>Get Foothills Waypoint, enter Boiling Lake and get Basilisk Acid</li>
  <li>Enter the Tunnel and finish Trial of Ascendancy</li>
  <li>Get Quarry Waypoint, enter Refinery and get Trarthan Powder</li>
  <li>Go back to Quarry and kill Garukhan and get Sekhema Feather</li>
  <li>
    Go to town and give the feather to either Tasuni or Irasha, get Skillpoint
  </li>
  <li>Enter Belly of the Beast and kill the Depraved Trinity</li>
</ul>
‣ ‣ ‣ ‣ ‣ ‣ ‣ ‣ ‣

<a
  href="https://www.pathofexile.com/passive-skill-tree/3.10.0/AAAABAMCAJuhHRQ7P92MvOpqQ6IApwgvnWwLFy_AZoCkJpVVxiL0LJzviPAfAQLVpuASBLN8g1VLjDZEq9rdSbGa4FWujRkVUOwY18_YJIIQj_oWbxbzRZ1_xlM1j6bcjYKbuwGD267_rJhJUV8q-TcmPP6zdFXfsI9GCPRV1mHiES33120Z42r60jpYZOdTUjLRfq9qG1ZIUEJFR9QHwcWGymEo8NURD9lf6-6TJw=="
  target="_blank"
  >Act 9 Passive Tree</a
>
