<h3 class="acts">Act 10</h3>

<ul>
  <li>Go left on Cathedral Rooftop and kill Plaguewing</li>
  <li>Now go right, enter the Ravaged Square and go south</li>
  <li>Enter the Control Blocks, kill Vilenta and get Skillpoint in town</li>
  <li>Optionally find the Teardrop in Reliquary</li>
  <li>Go back to Ravaged Square and get its Waypoint in the upper part</li>
  <li>Enter Ossuary, complete Trial of Ascendancy and get Elixir of Allure</li>
  <li>Get to Desecrated Chamber through Torched Courts and kill Avarius</li>
  <li>Finish the third Labyrinth and get Paragon of Calamity</li>
  <li>Enter the Canals and make your way to the final bossfight</li>
  <li>
    You will suffer another permanent -30% resistance penalty after this fight
  </li>
</ul>

<a
  href="https://www.pathofexile.com/passive-skill-tree/3.10.0/AAAABAMCAJuhHRQ7P92MvOpqQ6IANul0VacIbAth4sBm2CSApCaVVcZWSCL0LJxQQvAf6-4BAhVQEQ_VpuASYSiGytQHEzXBxVVLfIOMNi-dBLOPpprgVa6NGfDV7BjXz5UuU1KP-hbzBx5_xkmx3I2Cm6yYg9tFne-Irv8kqkSrXyomPP6zMtHfsI9GOlhV1vrSES3jam0Z99cI9GTn-TdJUX6vahsXpLsBRUcXL1M1Fm-CENlf2t2TJw=="
  target="_blank"
  >Act 10 Passive Tree</a
>
