<nav>
  <a [routerLink]="['/act1']" routerLinkActive="active">Act 1</a>
  <a [routerLink]="['/act2']" routerLinkActive="active">Act 2</a>
  <a [routerLink]="['/act3']" routerLinkActive="active">Act 3</a>
  <a [routerLink]="['/act4']" routerLinkActive="active">Act 4</a>
  <a [routerLink]="['/act5']" routerLinkActive="active">Act 5</a>
  <a [routerLink]="['/act6']" routerLinkActive="active">Act 6</a>
  <a [routerLink]="['/act7']" routerLinkActive="active">Act 7</a>
  <a [routerLink]="['/act8']" routerLinkActive="active">Act 8</a>
  <a [routerLink]="['/act9']" routerLinkActive="active">Act 9</a>
  <a [routerLink]="['/act10']" routerLinkActive="active">Act 10</a>
  <a [routerLink]="['/epilogue']" routerLinkActive="active">Epilogue</a>
</nav>
<button>Light Mode</button>
<button>Dark Mode</button>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="notes"></div>
