<h3 class="acts">Act 8</h3>

<ul>
  <li>Enter the Toxic Conduits and kill Doedre</li>
  <li>
    Go for Quay first, find Ankh of Eternity, kill Tolman and get Skillpoint in
    town
  </li>
  <li>
    Kill the Gemling Legionnaires in Grain Gate and get Skillpoint in town
  </li>
  <li>
    Enter Solaris Temple, get Sun Orb then enter Solaris Concourse and get
    Waypoint
  </li>
  <li>Go back to Doedre's Cesspool and go for the Grand Promenade now</li>
  <li>Get Bath House Waypoint and finish Trial of Ascendancy</li>
  <li>Enter High Gardens, kill Yugul and get Skillpoint in town</li>
  <li>Enter Lunaris Temple through Lunaris Concourse and get Moon Orb</li>
  <li>Go to Harbour Bridge and kill Solaris & Lunaris</li>
  <li>Use Soul of Lunaris</li>
</ul>

<a
  href="https://www.pathofexile.com/passive-skill-tree/3.10.0/AAAABAMCAJuhHRQ7P92MvOpqQ6IApwgvnffXFy_AZoCkJpVVxiL0LJzviPAfAQLVpuASBLN8g1VLjDZJsVWujRkVUNfP2CQW86yY42rcjYKbCPSD2-vuJjyu_xEP37BfKkWdES3-s3RVhsqPRlXWYeLUB2wLUEJWSPrSOlgy0WTn-TdTUn6vahttGZrgRUdEqxZvuwFTNWEoj6aCENlf2t2TJw=="
  target="_blank"
  >Act 8 Passive Tree</a
>
