<h3 class="acts">Act 3</h3>
<ul>
  <li>Start looking out for 4-linked Intelligence-based gear</li>
  <li>Focus on having 75% Cold-, Fire- and Lightning Resistance from now on</li>
  <li>Rescue Clarissa and Enter town and head straight to The Slums</li>
  <li>
    Enter the Crematorium and grab WP then do Trial, kill Piety and logout
  </li>
  <li>Get Sewer Key and Zealotry in town, replace Herald of Thunder with it</li>
  <li>Go back to Slums, enter Sewers, get Waypoint, find three busts</li>
  <li>Always 1 Bust before the WP and 2 after the WP</li>
  <li>
    Get Marketplace Waypoint and finish Trial of Ascendancy in Catacombs logout
  </li>
  <li>Grab skillpoint then head back to Marketplace WP</li>
  <li>
    Enter Battlefront and kill Captain Aurelianus (if 24 or really close to 24
    head to Docks if not head to Solaris)
  </li>
  <li>
    If you entered Solaris Grab WP and go back to Battlefront (full clear Docks)
  </li>
  <li>If you entered Docks grab WP and grab Sulphite then logout</li>
  <li></li>
  <p>-----------------------------------------</p>
  <li>Destroy the Undying Blockade in Sewers</li>
  <li>Enter Ebony Barracks, get Waypoint and kill General Gravicius</li>
  <li>Enter Lunaris Temple, kill Piety and get Skillpoint in town</li>
  <li>Get Imperial Gardens Waypoint and finish Trial of Ascendancy</li>
  <li>Go to Library and finish Siosa's quest</li>
  <li>Get Lightning Penetration and link it to Arc</li>
  <li>Get another Lightning Penetration and link it to Orb of Storms</li>
  <li>Get Second Wind and link it to Flame Dash</li>
  <li>Get Steelskin and Flesh and Stone, run the latter in Sand Stance</li>
  <li>Enter the Sceptre of God and kill Dominus</li>
</ul>
<a
  href="https://www.pathofexile.com/passive-skill-tree/3.10.0/AAAABAMAAJrgVa7YJBbzRZ286mpDogCCm20Zpwiu_2wL37AmPP6zMtGPpiL0LJzr7vAfwGZTUlZICPRqG9WmES0Es0VHFVB8g0SrghAvndrdkyc="
  target="_blank"
  >Act 3 Passive Tree</a
>
