<h3 class="acts">Act 7</h3>

<ul>
  <li>Find the Silver Locket in Broken Bridge and get Diamond Flask in town</li>
  <li>Replace a Quicksilver Flask with Diamond Flask</li>
  <li>
    Enter Crossroads, get Waypoint then enter Crypt through Fellshrine Ruins
  </li>
  <li>Finish Trial of Ascendancy and find Maligaro's Map</li>
  <li>Go back to Crossroads and enter Chamber of Sins</li>
  <li>Kill Maligaro in Maligaro's Sanctum</li>
  <li>
    Finish Trial of Ascendancy in Chamber of Sins Level 2 and enter the Den
  </li>
  <li>
    Make your way to Ashen Fields and kill Greust, then get Skillpoint in town
  </li>
  <li>Get Northern Forest Waypoint and enter Dread Thicket</li>
  <li>Collect all Fireflies and kill Gruthkul, then get Skillpoint in town</li>
  <li>Use Soul of Gruthkul</li>
  <li>Find Kishara's Star in Causeway and get Skillpoint in town</li>
  <li>Get the Vaal City Waypoint, enter Temple of Decay and go back to town</li>
  <li>Finish the second Labyrinth and get Elemancer</li>
  <li>Go back to Act 4 and get Summon Chaos Golem</li>
  <li>Get back to the Temple of Decay and kill Arakaali</li>
</ul>

<a
  href="https://www.pathofexile.com/passive-skill-tree/3.10.0/AAAABAMCAJuhHRQI9N2MvOpqQ6IApwgvnffXFy_AZoCkJpVVxiL0LJxQQvAfAQLVpuAS1Ad8g1ZIjDaa4FWujRkVUNgkFvNFndyNgps6WIPbrv_fsNrdXypsCyY8_rMy0YIQj0aPplXW-tJh4lM1uwEWb0SrbRlk51NSfq9qG6yYVUtFRwSzdFURLeNqEQ_ZX-vukyc="
  target="_blank"
  >Act 7 Passive Tree</a
>
