<h3 class="acts">Act 6</h3>

<ul>
  <li>Clear the Twilight Strand to unlock Lilly as Skillgem Vendor</li>
  <li>Get to Mud Flats and kill the Dishonored Queen</li>
  <li>Enter Karui Fortress, kill Tukohama and get Skillpoint in town</li>
  <li>Use Soul of Tukohama for now</li>
  <li>Finish Trial of Ascendancy in Prison and kill Shavronne</li>
  <li>Enter Prisoner's Gate, kill Abberath and get Skillpoint in town</li>
  <li>Get Riverways Waypoint</li>
  <li>Enter Wetlands, kill Puppet Mistress and get Skillpoint in town</li>
  <li>Light the Beacon and kill the Brine King</li>
  <li>Use Soul of the Brine King for now</li>
</ul>

<a
  href="https://www.pathofexile.com/passive-skill-tree/3.10.0/AAAABAMCAJuhvOpqQ6IApwgvnWwLFy_AZoCkJpVVxiL0LJxQQvAf1abUB3yDVUuMNprgVa4VUNgkFvOsmNyNgpttGa7_37BfKiY8_rMy0TpYj0ZEq1XW-tLr7hZv42oRLXRVBLNk51NSHRRqGwj0VkhFR2Hig9uPplM1RZ3314IQ2t2TJw=="
  target="_blank"
  >Act 6 Passive Tree</a
>
